<h1>チャット</h1>

<div id="messages">
  <%= render @messages %>
</div>

<div id="chat-container">
  <textarea id="message_input" placeholder="Type your message..."></textarea>
  <button id="send_button">Send</button>
</div>